<!-- change app.set('views', path.join(__dirname, 'views')) to use this page -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>[views] Welcome to <%= title %></p>
  </body>
</html>
