<!DOCTYPE html>
<html>
<head>
    <title>VK Super Chat</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css" />
<!--
    <script src="stylesheet" href="/vendor/bower_components/jquery/jquery.js" />
    <script src="stylesheet" href="/vendor/bower_components/bootstrap/dist/js/bootstrap.js" />
-->
</head>
<body>
    <header>
        <nav class="navbar navbar-default" role="navigation">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right:10px">
                <li><a href="/">Login</a></li>
            </ul>
        </nav>
    </header>

    <section class="container">
        <h1><%-blocks.title%></h1>

        <%-body%>
    </section>

</body>
</html>
